{% extends 'base.html' %} {% block main %} {% load get_value_by_key %} 
{% for entry in entries %}

<div class="border border-gray-500 m-5 p-5">
  <span class="text-3xl bold">{{ entry.user }} - </span>

  <span class="text-xl">{{ entry.form }}</span><br />

    <a href="{% url 'entry_detail' entry.id %}" class="btn btn-primary">View Entry</a>
  {% comment %} {% for field in entry.form.fields.all %} {% with
  field_value=entry.data|get_value_by_key:field.field %} {% if field.field_type
  == 'checkbox' %}
  <span
    >{{ field.field }}:<br />
    <ul class="list-disc list-inside">
      {% for value in field_value %}
      <li>{{ value }}</li>
      {% endfor %}
    </ul>
  </span>

  {% else %}
  <span>{{ field.field }}: {{ field_value }}</span><br />
  {% endif %} {% endwith %} {% endfor %} {% endcomment %}
</div>
{% endfor %} {% endblock main %}
