{% extends 'base.html' %}
{% block main %}
  <div>
    <span class="text-4xl">All forms</span>

    {% for form in forms %}
      <div>
        <span>{{ form.name }}</span>
        <span>{{ form.description }}</span>
        Published: {{ form.is_published }}
        Accepting responses: {{ form.accepting_responses }}
        <a href="{% url 'form_details' form.id %}">Details</a>
        <a href="{% url 'form_view' form.id %}">View</a>
      </div>
    {% endfor %}

    <a class="p-3 btn btn-primary" href="/create_form/">New form</a>
  </div>
{% endblock %}
