{% extends 'base.html' %}

{% block main %}
  <div>
    <span class="text-5xl">Create a new form</span>
    <form method="POST" class="form-control">
      {% csrf_token %}
    <label for="name" class="label label-text">Name:</label>
    <input type="text" name="name" class="input input-bordered input-accent w-auto rounded" required></input>
    <label for="description" class="mt-4">Description:</label>
    <textarea name="description" class="textarea textarea-bordered textarea-accent w-auto rounded" required></textarea>
    <label for="is_published" class="label w-56 mt-4"><span class="label-text">Published:</span>
    <input type="checkbox" name="is_published" class="checkbox checkbox-accent rounded"></input>
    </label>
    <label for="accepting_responses" class="label w-56"><span class="label-text">Accepting Responses:</span>
    <input type="checkbox" name="accepting_responses" class="checkbox checkbox-accent rounded"></input>
    </label>
    <label for="github_required" class="label w-56"><span class="label-text">Github Required:</span>
      <input type="checkbox" name="github_required" class="checkbox checkbox-accent rounded" {% if github %}{% else %}disabled{% endif %}></input>
    </label>
    <label for="linkedin_required" class="label w-56"><span class="label-text">LinkedIn Required:</span>
      <input type="checkbox" name="linkedin_required" class="checkbox checkbox-accent rounded" {% if linkedin %}{% else %}disabled{% endif %}></input>
    </label>
      <button type="submit" class="btn btn-primary rounded mt-4 w-72">Continue</button>
    </form>
  </div>
{% endblock %}
