{% extends "base.html" %}
{% block head_title %}Edit Form{% endblock head_title %}

 {% block script %}
<script>
function addInputField() {
  var new_field_div = document.createElement("div");
  new_field_div.classList.add("border","border-gray-300", "rounded-md", "p-5", "m-2", "flex", "gap-2", "justify-between", "flex-wrap")
  new_field_div.id="fields"
  new_field_div.innerHTML = `
                                         <div class="reorder-buttons flex md:flex-col gap-4">
                        <button type="button"
                                class="btn btn-secondary btn-sm rounded font-bold"
                                onclick="moveFieldUp(this)">↑</button>
                        <button type="button"
                                class="btn btn-secondary btn-sm rounded font-bold"
                                onclick="moveFieldDown(this)">↓</button>
                  </div>
                    <div>
                      <label for="name" class="label "><span class="label-text">Field Name:</span></label>
                      <input type="text"
                             name="name"
                             placeholder="Field Name"
                             class="input input-primary w-72 rounded-xl" />
                      <label for="description" class="label "><span class="label-text">Description:</span></label>
                      <input type="text"
                             name="description"
                             placeholder="Description"
                             class="input input-primary w-72 rounded-xl"/>
                      <label for="placeholder" class="label "><span class="label-text">Placeholder:</span></label>
                      <input type="text"
                             name="placeholder"
                             placeholder="Placeholder"
                             class="input input-primary w-72 rounded-xl"/>
                          <label for="is_required" class="label w-56"><span class="label-text">Required:</span>
                          <input type="checkbox" name="is_required" class="checkbox checkbox-primary rounded"/>
                          </label>
                      <label for="type" class="label "><span class="label-text">Field Type:</span></label>
                      <select name="type"
                              class="select select-primary select-sm w-72 rounded-xl"
                              onchange="changeFieldType(this)">
                          <option value="text" selected>Text</option>
                          <option value="number">Number</option>
                          <option value="email">Email</option>
                          <option value="password">Password</option>
                          <option value="textarea">Textarea</option>
                          <option value="url">URL</option>
                          <option value="select">Select</option>
                          <option value="checkbox">Checkbox</option>
                          <option value="radio">Radio</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-error btn-sm rounded justify-self-end" onclick="deleteField(this)">Delete</button>
  `;

  // Append the new field before the "Add Field" button
  const addButton = document.getElementById("add_field");
  addButton.parentNode.insertBefore(new_field_div, addButton);
}


function changeFieldType(type) {
  const parent = type.parentElement;
  const value = type.value;
  const optionsContainer = parent.querySelector(".options-container");
  if (value == "select" || value == "checkbox" || value == "radio") {
    if (!optionsContainer) {
      parent.innerHTML += `
                                <div class="options-container">
                            <label for="options" class="label "><span class="label-text">Options:</span></label>
      <div class="plus_button">
          <button type="button" class="btn btn-secondary btn-sm rounded-md font-bold" onclick="addOption(this)">+</button>
      </div>
    </div>
      `;
    }
    all_options = parent.getElementsByTagName("option");
    for (i = 0; i < all_options.length; i++) {
      if (all_options[i].value == value) {
        all_options[i].selected = true;
      }
      else {
        all_options[i].selected = false;
      }
    }
  } else {
    if (optionsContainer) {
      optionsContainer.remove();
    }
  }
}

function addOption(button) {
  const optionsContainer = button.parentElement;
  const newOptionDiv = document.createElement("div");
  newOptionDiv.innerHTML = `
  <div class="flex items-center my-1">
      <input type="text" name="options" placeholder="Option" class="input input-primary input-sm w-72 rounded-xl" required>
      <button type="button" class="btn btn-secondary btn-sm ml-2 rounded-md font-bold" onclick="deleteOption(this)">-</button>
  </div>
  `;
  optionsContainer.insertBefore(newOptionDiv, button);
}

  function deleteOption(button) {
    const optionDiv = button.parentElement;
    optionDiv.remove();
  }

  function moveFieldUp(button) {
    const fieldDiv = button.closest(".border");
    const prevFieldDiv = fieldDiv.previousElementSibling;
    if (prevFieldDiv) {
      fieldDiv.parentNode.insertBefore(fieldDiv, prevFieldDiv);
      updateFieldIndexes();
    }
  }

  function moveFieldDown(button) {
    const fieldDiv = button.closest(".border");
    console.log(fieldDiv);
    const nextFieldDiv = fieldDiv.nextElementSibling;
    console.log(nextFieldDiv);
    if (nextFieldDiv) {
      fieldDiv.parentNode.insertBefore(nextFieldDiv, fieldDiv);
      updateFieldIndexes();
    }
  }

  function updateFieldIndexes() {
    const fieldDivs = document.querySelectorAll("#fields > div");
    fieldDivs.forEach((div, index) => {
      div.setAttribute("data-index", index);
    });
  }

  function sendFormData() {
    // e.preventDefault()
    save_btn = document.getElementById("save_button");
    save_btn.disabled = true;
    save_btn_txt = document.getElementById("save_button_txt");
    save_btn_txt.classList.add("loading", "loading-spinner");
    const formFields = document.querySelectorAll("#fields");
    console.log(formFields);
    const formData = Array.from(formFields).map((fieldDiv) => {
      const fieldData = {
        name: fieldDiv.querySelector('input[name="name"]').value,
        type: fieldDiv.querySelector('select[name="type"]').value,
        description: fieldDiv.querySelector('input[name="description"]').value,
        is_required: fieldDiv.querySelector('input[name="is_required"]')
          .checked,
        placeholder: fieldDiv.querySelector('input[name="placeholder"]').value,
      };

      if (
        fieldData.type === "select" ||
        fieldData.type === "checkbox" ||
        fieldData.type === "radio"
      ) {
        const options = fieldDiv.querySelectorAll('input[name="options"]');
        fieldData.options = Array.from(options).map((option) => option.value);
      }
      return fieldData;
    });

    const jsonData = JSON.stringify(formData);
    console.log(jsonData);

    // Replace 'YOUR_ENDPOINT_URL' with your actual endpoint URL
    const endpointUrl = "{% url 'edit_form_fields' form.id %}";

    fetch(endpointUrl, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: jsonData,
    })
      .then((response) => response.json())
      .then((data) => {
        // Handle the response from the server if needed
        console.log(data);
        save_btn.disabled = false;
        save_btn_txt.classList.remove("loading", "loading-spinner");
        XSAlert({
          title: "Form Updated!",
          hideCancelButton: true,
          closeOnOutsideClick: true,
          closeWithESC: true,
          okButtonText: "Back to Dashboard",
        }).then((result) => {
          if (result == 'ok' ) {
            window.location.href = "{% url 'all_forms' %}";
          }
        });
      })
      .catch((error) => {
        // Handle any errors that occurred during the request
        console.error("Error:", error);
      });
  }

  function deleteField(button) {
      const fieldDiv = button.closest('.border')
      fieldDiv.remove()
      updateFieldIndexes()
  }
</script>
{% endblock script %}

{% block main %}
    <div>
        <span class="text-4xl underline italic">{{ form.name }}</span>
        <br />
        <span class="text-2xl">Form questions:</span>
        <br />
        <div id="all_fields" class="form-control">
            {% for field in form.fields.all %}
                <div id="fields"
                     class="border border-2 border-primary rounded-md p-5 m-2 flex gap-2 justify-between">
                                         <div class="reorder-buttons flex flex-col gap-4">
                        <button type="button"
                                class="btn btn-secondary btn-sm rounded font-bold"
                                onclick="moveFieldUp(this)">↑</button>
                        <button type="button"
                                class="btn btn-secondary btn-sm rounded font-bold"
                                onclick="moveFieldDown(this)">↓</button>
                  </div>
                    <div>
                      <label for="name" class="label "><span class="label-text">Field Name:</span></label>
                      <input type="text"
                             name="name"
                             placeholder="Field Name"
                             class="input input-primary w-72 rounded-xl"
                             value="{{ field.field }}" />
                      <label for="description" class="label "><span class="label-text">Description:</span></label>
                      <input type="text"
                             name="description"
                             placeholder="Description"
                             class="input input-primary w-72 rounded-xl"
                             value="{{ field.description }}" />
                      <label for="placeholder" class="label "><span class="label-text">Placeholder:</span></label>
                      <input type="text"
                             name="placeholder"
                             placeholder="Placeholder"
                             class="input input-primary w-72 rounded-xl"
                             value="{{ field.placeholder }}" />
                          <label for="is_required" class="label w-56"><span class="label-text">Required:</span>
                          <input type="checkbox" name="is_required" class="checkbox checkbox-primary rounded" {% if field.is_required == True %}checked{% endif %}/>
                          </label>
                      <label for="type" class="label "><span class="label-text">Field Type:</span></label>
                      <select name="type"
                              class="select select-primary select-sm w-72 rounded-xl"
                              onchange="changeFieldType(this)">
                          <option value="text">Text</option>
                          <option value="number" {% if field.field_type == 'number' %}selected{% endif %}>Number</option>
                          <option value="email" {% if field.field_type == 'email' %}selected{% endif %}>Email</option>
                          <option value="password" {% if field.field_type == 'password' %}selected{% endif %}>Password</option>
                          <option value="textarea" {% if field.field_type == 'textarea' %}selected{% endif %}>Textarea</option>
                          <option value="url" {% if field.field_type == 'url' %}selected{% endif %}>URL</option>
                          <option value="select" {% if field.field_type == 'select' %}selected{% endif %}>Select</option>
                          <option value="checkbox" {% if field.field_type == 'checkbox' %}selected{% endif %}>Checkbox</option>
                          <option value="radio" {% if field.field_type == 'radio' %}selected{% endif %}>Radio</option>
                      </select>
                      {% if field.field_type == 'select' or field.field_type == 'checkbox' or field.field_type == 'radio' %}
                          <div class="options-container">
                            <label for="options" class="label "><span class="label-text">Options:</span></label>
                            {% for choice in field.choices.all %}
                                    <div class="flex items-center my-1">
                                        <input type="text" name="options" placeholder="Option" class="input input-primary input-sm w-72 rounded-xl" value="{{ choice }}">
                                        <button type="button" class="btn btn-secondary btn-sm ml-2 rounded-md font-bold" onclick="deleteOption(this)">-</button>
                                    </div>
                            {% endfor %}
                                    <div class="plus_button">
                                        <button type="button" class="btn btn-secondary btn-sm rounded-md font-bold" onclick="addOption(this)">+</button>
                                    </div>
                          </div>
                      {% endif %}
                    </div>
                    <button type="button" class="btn btn-error btn-sm rounded justify-self-end" onclick="deleteField(this)">Delete</button>


                </div>
            {% endfor %}
        </div>
          <div class="my-2">
    <button
      type="button"
      id="add_field"
      class="btn btn-primary rounded-xl"
      onclick="addInputField()"
    >
      Add Field
    </button>
    <button type="button" class="btn btn-primary rounded-xl" onclick="sendFormData()" id="save_button">
      <span id="save_button_txt">Save Form</span>
    </button>
  </div>
    </div>
{% endblock main %}
