{% extends 'base.html' %} {% block script %}
<script>
  // Add the script here
  let typingTimer;

  const typingDelay = 2000;

  function save_notes() {
    fetch("{% url 'edit_entry_notes' entry.id %}", {
      method: "POST",
      body: JSON.stringify({
        notes: document.querySelector("textarea").value,
      }),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      });
  }

  function onTextareaInput() {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(() => {
      save_notes();
    }, typingDelay);
  }

  function change_status() {
    fetch("{% url 'change_status' entry.id %}", {
      method: "POST",
      body: JSON.stringify({
        status: document.querySelector("#change_status").value,
      }),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      document.querySelector("#present_status").innerText = data.status;
    }
    ;
  }
</script>
{% endblock script %} {% block main %} {% load get_value_by_key %}
<div>
  <span class="text-3xl bold">{{ entry.user }} - </span>
  <span class="text-xl">{{ entry.form }}</span><br />

  {% for field in entry.form.fields.all %} 
  {% with field_value=entry.data|get_value_by_key:field.field %} {% if field.field_type == 'checkbox' %}
  <span>
    {{ field.field }}:<br />
    <ul class="list-disc list-inside">
      {% for value in field_value %}
      <li>{{ value }}</li>
      {% endfor %}
    </ul>
  </span>
  {% else %}
  <span>{{ field.field }}: {{ field_value }}</span><br />
  {% endif %} {% endwith %}
</div>
{% endfor %}

<div>
  Notes:
  <textarea class="w-full" rows="10" oninput="onTextareaInput()">
{{ entry.notes }}</textarea
  >
  <button onclick="save_notes()">Save</button>
</div>

<div>
  Current Status: <span id="present_status">{{ entry.status }}</span> <br />

  Change Status
  <select id="change_status">
    <option value="pending">Pending</option>
    <option value="approved">Approved</option>
    <option value="rejected">Rejected</option>
  </select>
  <button onclick="change_status()">Change</button>
</div>

{% endblock main %}
