{% extends 'base.html' %} {% block script %}
{% load is_list %}

<script>
  // Add the script here
  let typingTimer;

  const typingDelay = 2000;

  function save_notes() {
    save_btn = document.getElementById("notes_save_btn");
    save_btn_txt = document.getElementById("save_btn_txt");
    save_btn.disabled = true;
    save_btn_txt.classList.add("loading", "loading-spinner");
    fetch("{% url 'edit_entry_notes' entry.id %}", {
      method: "POST",
      body: JSON.stringify({
        notes: document.querySelector("textarea").value,
      }),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        save_btn.disabled = false;
        save_btn_txt.classList.remove("loading", "loading-spinner");
        console.log(data);
        if (data.success) {
          XSAlert({
            title: "Notes Saved",
            message: "The notes have been saved successfully.",
            hideCancelButton: true,
            closeOnOutsideClick: true,
            closeWithESC: true,
          });
        } else {
          XSAlert({
            title: "Error",
            message:
              "There was an error while saving the notes. Please try again later.",
            hideCancelButton: true,
            closeOnOutsideClick: true,
            closeWithESC: true,
          });
        }
      });
  }

  function onTextareaInput() {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(() => {
      save_notes();
    }, typingDelay);
  }

  function change_status() {
    change_status_btn = document.getElementById("change_status");
    change_statuc_btn_txt = document.getElementById("change_status_txt");
    change_status_btn.disabled = true;
    change_statuc_btn_txt.classList.add("loading", "loading-spinner");
    fetch("{% url 'change_status' entry.id %}", {
      method: "POST",
      body: JSON.stringify({
        status: document.querySelector("#change_status").value,
      }),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
    .then((response) => response.json())
    .then((data) => {
      change_status_btn.disabled = false;
      change_statuc_btn_txt.classList.remove("loading", "loading-spinner");
      if (data.success){
      XSAlert({
        title: "Entry Status Changed",
        message: "The status of the entry has been changed successfully and the user has been notified.",
        hideCancelButton: true,
        closeOnOutsideClick: true,
        closeWithESC: true,
      })
      document.querySelector("#present_status").innerText = data.new_status;
      }
      else{
        XSAlert({
          title: "Error",
          message: "There was an error while changing the status of the entry. Please try again later.",
          hideCancelButton: true,
          closeOnOutsideClick: true,
          closeWithESC: true,
        })
      }
    })
  }
</script>
{% endblock script %} {% block main %} {% load get_value_by_key %}
<div>
  <span class="text-3xl bold">{{ entry.user }}</span><br/>
  <span class="text-xl">Form: {{ entry.form }}</span><br />
</div>
  <div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
  {% for field in entry.form.fields.all %} 
  {% with field_value=entry.data|get_value_by_key:field.field %} {% if field.field_type == 'checkbox' %}

    <td>{{ field.field }}:</td>
    <td>
    <ul class="list-disc list-inside">
      {% with il=field_value|is_list %}
      {% if il %}
      {% for value in field_value %}
      <li>{{ value }}</li>
      {% endfor %}
      {% else %}
      <li>{{ field_value }}</li>
      {% endif %}
      {% endwith %}
    </ul>
    </td>
  {% else %}
    <tr>
      <td>{{ field.field }}:</td>
      <td>{{ field_value }}</td>
    </tr>
  {% endif %} {% endwith %}


{% endfor %}
  <tr>
    <td>Github</td>
    <td><a href="https://github.com/{{ user_github.extra_data.login }}" class="hover:underline text-blue-400">{{ user_github.extra_data.login }}</a></td>
  </tr>

  <tr>
    <td>Linkedin</td>
    <td><a href="https://linkedin.com/in/{{ user_linkedin.extra_data.id }}" class="hover:underline text-blue-400">{{ user_linkedin.extra_data.id }}</a></td>
  </tr>
    </tbody>
  </table>

<div>
  <div class="text-xl font-semibold">Notes:</div>
  <textarea class="w-full textarea textarea-primary rounded-xl" rows="10">
{{ entry.notes }}</textarea>
  <div>
  <button class="btn btn-primary rounded-xl" onclick="save_notes()" id="notes_save_btn"><span id="save_btn_txt">Save</span></button>
  </div>
</div>

<div class="form-control">
  <span class="font-bold">Current Status:</span> <span id="present_status">{{ entry.status }}</span> <br />
  <div class="">
    <label for="change_status">
    <span class="label-text">Change Status</span>
    </label><br/>
  <select id="change_status" class="select select-primary select-sm rounded-xl">
    <option value="pending" {% if entry.status  == 'pending' %}selected{% endif %}>Pending</option>
    <option value="approved" {% if entry.status  == 'approved' %}selected{% endif %}>Approved</option>
    <option value="rejected" {% if entry.status  == 'rejected' %}selected{% endif %}>Rejected</option>
  </select>
  <br/>
  <button onclick="change_status()" class="btn btn-outline btn-primary rounded-xl my-2" id="change_status"><span id="change_status_txt">Change</span></button>
  </div>
</div>

{% endblock main %}
