{% extends 'base.html' %}

{% block script %}
  <!-- Add this script tag in your HTML to include the JavaScript code -->
  <script>
    function getSocial() {
      var fdata = null;
      fetch ("{% url 'user_social' %}")
      .then(response => response.json())
      .then(data => {
        console.log(data)
        social_connections_div = document.getElementById("social_connection")
        github = data.github_connection
        linkedin = data.linkedin_connection
        let output= "Github Connected: "+github +"<br> Linkedin Connected: "+linkedin
        social_connections_div.innerHTML = output     
        fdata = data;
      })
      return fdata;
    }

  </script>
{% endblock %}
{% block main %}
  <h1 class="text-4xl font-bold">{{ form.name }}</h1>
  <p class="text-2xl">{{ form.description }}</p>
  <form id="renderedForm" method="post" action="#" class="my-10">
    {% csrf_token %}
    <div id="fields" class="form-control">
      {% for i in form.fields.all %}
        <div class="">
          <label for="{{ i }}" class="label justify-start text-xl">{{ i }}{% if i.is_required %}<span class="text-red-500 mx-5">*</span>{% endif %}</label>
          {% if i.description %}
            <p class="help-text">{{ i.description }}</p>
          {% endif %}
          {% if i.field_type == 'text' %}
            <input type="text" class="input input-primary rounded-xl" id="{{ i }}" name="{{ i }}" placeholder="{{ i.placeholder }}" {% if i.is_required %}required{% endif %}/>
            {% elif i.field_type == 'textarea' %}
            <textarea id="{{ i }}" class="textarea textarea-primary rounded-xl" name="{{ i }}" placeholder="{{ i.placeholder }}" {% if i.is_required %}required{% endif %}></textarea>
            {% elif i.field_type == 'select' %}
            <select id="{{ i }}" name="{{ i }}" class="select select-primary rounded-xl select-sm" {% if i.is_required %}required{% endif %}>
              {% for j in i.choices.all %}
                <option value="{{ j }}">{{ j }}</option>
              {% endfor %}
            </select>
            {% elif i.field_type == 'radio' %} <div class=""> {% for j in i.choices.all %}

                <label class="label cursor-pointer flex justify-start gap-4">
                <input class="radio radio-primary" type="radio" name="{{ i }}" id="{{ j }}" value="{{ j }}" />
                  <span class="label-text">{{ j }}</span>
                </label>
              
            {% endfor %} </div> {% elif i.field_type == 'checkbox' %}
            {% for j in i.choices.all %}
                <label class="flex gap-4 cursor-pointer label w-96">{{ j }}
                <input type="checkbox" class="checkbox rounded checkbox-primary" name="{{ i }}" id="{{ j }}" value="{{ j }}" />
                </label>
            {% endfor %} {% elif i.field_type == 'email' %}
            <input type="email" class="input rounded-xl input-primary" id="{{ i }}" name="{{ i }}" placeholder="{{ i.placeholder }}" />
            {% elif i.field_type == 'password' %}
            <input type="password" id="{{ i }}" name="{{ i }}" placeholder="{{ i.placeholder }}" />
            {% elif i.field_type == 'number' %}
            <input type="number" class="input input-primary rounded-xl" id="{{ i }}" name="{{ i }}" placeholder="{{ i.placeholder }}" />
            {% elif i.field_type == 'url' %}
            <input type="url" class="input input-primary rounded-xl" id="{{ i }}" name="{{ i }}" placeholder="{{ i.placeholder }}" />
          {% endif %}
        </div>
      {% endfor %}
    </div>
<div>
<button type="button" class="btn btn-outline" onclick="getSocial()"> Get Social Connections </button>
<div id="social_connection">
</div>
</div>

    <div>
      <button type="submit" class="btn btn-primary" id="submit_form">Submit Form</button>
    </div>
  </form>



{% endblock %}
