{% extends 'base.html' %}

{% block script %}
  <!-- Add this script tag in your HTML to include the JavaScript code -->
  <script>
    function getSocial() {
      var fdata = null;
      fetch ("{% url 'user_social' %}")
      .then(response => response.json())
      .then(data => {
        console.log(data)
        social_connections_div = document.getElementById("social_connection")
        github = data.github_connection
        linkedin = data.linkedin_connection
        let output= "Github Connected: "+github +"<br> Linkedin Connected: "+linkedin
        social_connections_div.innerHTML = output     
        fdata = data;
      })

      return fdata;
    }

  </script>
{% endblock %}
{% block main %}
  <h1>Rendered Form</h1>
  <form id="renderedForm" method="post" action="#">
    {% csrf_token %}
    <div id="fields" class="form-control">
      {% for i in form.fields.all %}
        <div class="form-group">
          <label for="{{ i }}">{{ i }}</label>
          {% if i.field_type == 'text' %}
            <input type="text" class="f" id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" {% if i.is_required %}required{% endif %}/>
            {% elif i.field_type == 'textarea' %}
            <textarea id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" {% if i.is_required %}required{% endif %}></textarea>
            {% elif i.field_type == 'select' %}
            <select id="{{ i }}" name="{{ i }}" {% if i.is_required %}required{% endif %}>
              {% for j in i.choices.all %}
                <option value="{{ j }}">{{ j }}</option>
              {% endfor %}
            </select>
            {% elif i.field_type == 'radio' %} <div class="m-5 p-5"> {% for j in i.choices.all %}
                <div class="flex gap-4">
                <label>
                <input type="radio" name="{{ i }}" id="{{ j }}" value="{{ j }}" />
                  {{ j }}</label>
                </div>
              
            {% endfor %} </div> {% elif i.field_type == 'checkbox' %}
            {% for j in i.choices.all %}
              <div class="flex gap-4 m-5">
                <label class="flex gap-4">{{ j }}

                <input type="checkbox" name="{{ i }}" id="{{ j }}" value="{{ j }}" />

                </label>
              </div>
            {% endfor %} {% elif i.field_type == 'email' %}
            <input type="email" id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" />
            {% elif i.field_type == 'password' %}
            <input type="password" id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" />
            {% elif i.field_type == 'number' %}
            <input type="number" id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" />
            {% elif i.field_type == 'url' %}
            <input type="url" id="{{ i }}" name="{{ i }}" placeholder="{{ i }}" />
          {% endif %}
        </div>
      {% endfor %}
    </div>
<div>
<button type="button" class="btn btn-outline" onclick="getSocial()"> Get Social Connections </button>
<div id="social_connection">

</div>
</div>

    <div>
      <button type="submit" class="btn btn-primary" id="submit_form">Submit Form</button>
    </div>
  </form>



{% endblock %}
