{% extends 'base.html' %} {% block main %} {% load get_value_by_key %} {% load is_list %}
<details {% if status_filter %}open{% endif %}>
  <summary>Filters</summary>
  {% for status in all_statuses %}
  <a href="{% url 'form_entries' form.id %}?status={{status}}" class="btn btn-primary {% if status_filter == status %}{% else %}btn-outline{% endif %} mt-4 rounded">{{ status }}</a>
  {% endfor %}

</details>
{% for entry in entries %}

<div class="border border-gray-500 m-5 p-5 rounded-xl">
  <span class="text-3xl bold">{{ entry.user }}</span><br />

  {% for field in entry.form.fields.all %} 
  {% with  field_value=entry.data|get_value_by_key:field.field %} 
  {% if field.field_type  == 'checkbox' %}
  <span
    >{{ field.field }}:<br />
    <ul class="list-disc list-inside">
      {% with il=field_value|is_list %}
      {% if il %}
      {% for value in field_value %}
      <li>{{ value }}</li>
      {% endfor %}
      {% else %}
      <li>{{ field_value }}</li>
      {% endif %}
      {% endwith %}
    </ul>
  </span>

  {% else %}
  <span>{{ field.field }}: {{ field_value }}</span><br />
  {% endif %} {% endwith %}

  {% endfor %}
      <a href="{% url 'entry_detail' entry.id %}" class="btn btn-primary btn-outline mt-4 rounded">View Entry</a>
      <a href="{% url 'delete_entry' entry.id %}" class="btn btn-error btn-outline mt-4 rounded">Delete Entry</a>

</div>
{% endfor %} {% endblock main %}
