<!-- new_form.html -->
{% extends 'base.html' %}
{% block script %}
  <script>
    function addInputField() {
      var new_field_div = document.createElement('div')
      new_field_div.innerHTML = `
                                    <div id="fields" class="border border-gray-300 rounded-md p-5 m-2 flex flex-col">
                                      <select name="type" class="select select-primary w-72" onchange="changeFieldType(this)">
                                        <option value="text">Text</option>
                                        <option value="number">Number</option>
                                        <option value="date">Date</option>
                                        <option value="email">Email</option>
                                        <option value="password">Password</option>
                                        <option value="textarea">Textarea</option>
                                        <option value="select">Select</option>
                                        <option value="checkbox">Checkbox</option>
                                        <option value="radio">Radio</option>
                                      </select>
                                      <input type="text" name="name" placeholder="Field Name" class="input input-primary w-72">
                                      <input type="text" name="description" placeholder="Description" class="input input-primary w-72">
                                      <label for="is_required">Required:</label>
                                      <input type="checkbox" name="is_required" class="checkbox checkbox-primary">
                                      <input type="text" name="placeholder" placeholder="Placeholder" class="input input-primary w-72">
                                      <div class="reorder-buttons">
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="moveFieldUp(this)">&uarr;</button>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="moveFieldDown(this)">&darr;</button>
                                      </div>
                                    </div>
                                  `
    
      const allFields = document.getElementById('all_fields')
      allFields.appendChild(new_field_div)
    }
    
    function changeFieldType(type) {
      const parent = type.parentElement
      const value = type.value
      const optionsContainer = parent.querySelector('.options-container')
      if (value === 'select' || value === 'checkbox' || value === 'radio') {
        if (!optionsContainer) {
          const optionsDiv = document.createElement('div')
          optionsDiv.setAttribute('class', 'options-container')
    
          const addButton = document.createElement('button')
          addButton.setAttribute('type', 'button')
          addButton.setAttribute('class', 'btn btn-secondary btn-sm')
          addButton.innerHTML = '+'
          addButton.setAttribute('onclick', 'addOption(this)')
    
          optionsDiv.appendChild(addButton)
    
          parent.appendChild(optionsDiv)
        }
      } else {
        if (optionsContainer) {
          parent.removeChild(optionsContainer)
        }
      }
    }
    
    function addOption(button) {
      const optionsContainer = button.parentElement
      const newOptionDiv = document.createElement('div')
      newOptionDiv.setAttribute('class', 'flex items-center')
      const optionInput = document.createElement('input')
      optionInput.setAttribute('type', 'text')
      optionInput.setAttribute('name', 'options')
      optionInput.setAttribute('placeholder', 'Option')
      optionInput.setAttribute('class', 'input input-primary w-72')
      const deleteButton = document.createElement('button')
      deleteButton.setAttribute('type', 'button')
      deleteButton.setAttribute('class', 'btn btn-secondary btn-sm ml-2')
      deleteButton.innerHTML = '-'
      deleteButton.setAttribute('onclick', 'deleteOption(this)')
      newOptionDiv.appendChild(optionInput)
      newOptionDiv.appendChild(deleteButton)
      optionsContainer.insertBefore(newOptionDiv, button)
    }
    
    function deleteOption(button) {
      const optionDiv = button.parentElement
      optionDiv.remove()
    }
    
    function moveFieldUp(button) {
      const fieldDiv = button.closest('.border')
      const prevFieldDiv = fieldDiv.previousElementSibling
      if (prevFieldDiv) {
        fieldDiv.parentNode.insertBefore(fieldDiv, prevFieldDiv)
        updateFieldIndexes()
      }
    }
    
    function moveFieldDown(button) {
      const fieldDiv = button.closest('.border')
      const nextFieldDiv = fieldDiv.nextElementSibling
      if (nextFieldDiv) {
        fieldDiv.parentNode.insertBefore(nextFieldDiv, fieldDiv)
        updateFieldIndexes()
      }
    }
    
    function updateFieldIndexes() {
      const fieldDivs = document.querySelectorAll('#fields > div')
      fieldDivs.forEach((div, index) => {
        div.setAttribute('data-index', index)
      })
    }
    
    function sendFormData() {
      // e.preventDefault()
      const formFields = document.querySelectorAll('#fields')
      console.log(formFields)
      const formData = Array.from(formFields).map((fieldDiv) => {
        const fieldData = {
          name: fieldDiv.querySelector('input[name="name"]').value,
          type: fieldDiv.querySelector('select[name="type"]').value,
          description: fieldDiv.querySelector('input[name="description"]').value,
          is_required: fieldDiv.querySelector('input[name="is_required"]').checked,
          placeholder: fieldDiv.querySelector('input[name="placeholder"]').value
        }
    
        if (fieldData.type === 'select' || fieldData.type === 'checkbox' || fieldData.type === 'radio') {
          const options = fieldDiv.querySelectorAll('input[name="options"]')
          fieldData.options = Array.from(options).map((option) => option.value)
        }
    
        return fieldData
      })
    
      const jsonData = JSON.stringify(formData)
      console.log(jsonData)
    
      // Replace 'YOUR_ENDPOINT_URL' with your actual endpoint URL
      const endpointUrl = '/new_form/{{ form.id }}/'
    
      fetch(endpointUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: jsonData
      })
        .then((response) => response.json())
        .then((data) => {
          // Handle the response from the server if needed
          console.log(data)
          window.location.href = '/all_forms/'
        })
        .catch((error) => {
          // Handle any errors that occurred during the request
          console.error('Error:', error)
        })
    }
  </script>
{% endblock %}
{% block main %}
  <h1>New Form</h1>
  <form method="post">
    {% csrf_token %}
    <div id="all_fields" class="form-control"></div>
    <div>
      <button type="button" id="add_field" class="btn btn-primary" onclick="addInputField()">Add Field</button>
      <button type="button" class="btn btn-primary" onclick="sendFormData()">Save Form</button>
    </div>
  </form>
{% endblock %}
